

<%- include('../layout.ejs'); %>
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>MVC</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>

<!-- Just an image -->
  <nav class="navbar navbar-light bg-light">
    <h2 >Express Authentication App</h2>
    </a>
  </nav>


